//
// Global Footer
// ------------------------------ //
.ftr {
    display: flex;
    background-color: $grey-10;
    
    // .ftr__content
    &__content {
        flex-grow: 1;
        padding: 1rem;
    }

    // .ftr__column
    &__column {
        margin-bottom: 0;
    }

    // .ftr__text-group
    &__text-group {
        text-align: center;
    }

    // .ftr__title
    &__title {
        margin: 0;
    }

    // .ftr__legal-content
    &__legal-content {
        margin: 0;
    }
}