
.contact {
    display: flex;
    flex-direction: column;
    height: 100%;

    // .contact--auto-height
    &--auto-height {
        height: 100vh;
    }

    // .contact__content
    &__content {
        flex-grow: 1;
        padding: 1rem;
    }

    // .contact__title
    &__title {
        text-transform: uppercase;
    }
}