/* Colors */
$color-black: #000;
$color-white: #FFF;
$color-blue: #0000FF;

/* White Opacity */
$white-10: rgba($color-white, .1);
$white-20: rgba($color-white, .2);
$white-30: rgba($color-white, .3);
$white-40: rgba($color-white, .4);
$white-50: rgba($color-white, .5);
$white-60: rgba($color-white, .6);
$white-70: rgba($color-white, .7);
$white-80: rgba($color-white, .8);
$white-90: rgba($color-white, .9);

/* Grey */
$grey-10: darken($color-white, 10%);
$grey-20: darken($color-white, 20%);
$grey-30: darken($color-white, 30%);
$grey-40: darken($color-white, 40%);
$grey-50: darken($color-white, 50%);
$grey-60: darken($color-white, 60%);
$grey-70: darken($color-white, 70%);
$grey-80: darken($color-white, 80%);
$grey-90: darken($color-white, 90%);

/* lighten Blue */
$light-blue-10: lighten($color-blue, 10%);
$light-blue-20: lighten($color-blue, 20%);
$light-blue-30: lighten($color-blue, 30%);

/* Darken Blue */
$dark-blue-10: darken($color-blue, 10%);
$dark-blue-20: darken($color-blue, 20%);
$dark-blue-30: darken($color-blue, 30%);
$dark-blue-40: darken($color-blue, 40%);

/* Red */
$color-guardsman: #CC0000;
$color-salmon: #FA8072;